body {
    min-height: 100vh;
    background: #46558b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 2rem;
    border: 0.25rem, solid, white;
}

form {
    padding-bottom: 0.5rem;
}

.container {
    border: 0.15rem, solid, white;
    padding: 1rem;
    width: 40rem;

}
